

  .styled-scroll::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.styled-scroll::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.styled-scroll::-webkit-scrollbar-thumb:hover {
  background: #969595;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.styled-scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.styled-scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.styled-scroll::-webkit-scrollbar-track:hover,
.styled-scroll::-webkit-scrollbar-track:active {
background: #c2c2c2;
}
.area-table-content .table-responsive{
    max-height:510px;
    @extend .styled-scroll;
  }