.select-style .css-yk16xz-control{
    border: solid 0;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    border-radius: 0.375rem;
    height: calc(1.5em + 1.25rem + 2px);
    transition: box-shadow .15s ease;
    font-size: 0.875rem;
    color: #8898aa;
}

.select-multiple-height .css-yk16xz-control{
    height: auto !important;
    min-height: calc(1.5em + 1.25rem + 2px) !important;
}

.assistance-input{
    background-color: #e9ecef;
    opacity: 1;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-clip: padding-box;
    border-radius: 0.375rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.not-selectble{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.page-link{
    min-height: '43.5px' !important;
}

.notification-container{
    width: 350px;
    margin-right: 1rem;
    position: fixed;
    right: 1rem;
    top: .5rem;
    z-index: 11;
}

.notification{
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin: .5rem;
}

.notification .icon-alert{
    font-size: 2rem;
    margin-top: 50%;
    text-align: center;
    display: block;
    margin-bottom: 50%;
}

.notification .description{
    margin: auto;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:60%;
    padding:.65em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
  }

  .notifications-container{
      max-height: 300px;
      overflow: auto;
  }

  .notification-nav-bar{
      padding: 0 .5rem;
    width: 350px;
    word-wrap: break-word;
    white-space: normal;
  }

  .not-seen{
    background-color: #e5e9ff;
  }

  .not-clicked{
    background-color: #e5e9ff;
    border-radius: .5rem;
    box-shadow:rgb(117 117 117 / 10%) -4px 9px 25px -6px;
  }

  .notif-selected{
    background-color: rgb(228 254 236);
    border-radius: .5rem;
    box-shadow:rgb(117 117 117 / 10%) -4px 9px 25px -6px;
  }

  .loading-logo{
    display:flex;
    width: 200px;
    transform: translateY(150%);
    margin: auto;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: .2s;
    animation-iteration-count:infinite;
    opacity: 0;
  }
  
  @keyframes example {
    0%   {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 0;}
  }

  
  .load-wrapp {
    display: block;
    width: 80px;
    height: 80px;
    margin: 1rem auto;
    border-radius: 5px;
    text-align: center;
    opacity: .4;
  }

  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
    margin-right: 5px;
  }
  
.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }

  @keyframes loadingC {
    0%{
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .calendar-header{
    background-color:#e2edff;
  }

  .day-name{
    font-size: .65rem;
    font-weight: bold;
  }

  .day-number{
    font-size: .95rem;
    font-weight: bold;
  }

  .day-active{
    width: .5rem;
    border-radius: 100%;
    background-color: #28a5f1;
    height: .5rem;
    margin: auto;
  }

  .calendar-item{
    border-radius: .8rem;
    padding: 1rem;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;*/
    margin: .5rem;
    line-break: anywhere;
    background-color: white;
    cursor: pointer;
  }

  .container-week{
    min-height: 150px;
    width: fit-content;
    /*width: 100%;*/
  }

  .body-week, .body-week-content{
    transform: rotateX(180deg);
  }

  .calendar-item-name{
    font-size: 13px;
    display: -webkit-inline-box;
    font-weight: 600;
  }

  .item-uno{
    background-color: #eeeaff;
    color: #414fdc;
  }

  .item-uno{
    background-color: #eeeaff;
    color: #5c6a7a;
  }

  .item-uno span{
    font-size: 11px;
    color: #414fdc;
    font-weight: bolder;
  }

  .item-dos{
    background-color: #fff0f3;
    color: #5c6a7a;
  }

  .item-dos span{
    font-size: 11px;
    color: #ef233c;
    font-weight: bolder;
  }

  .item-tres{
    background-color: #daf8e6;
    color: #5c6a7a;
  }


  .item-tres span{
    font-size: 11px;
    color: #52a471;
    font-weight: bolder;
  }

  .calendar-number-month{
   user-select: none;
   cursor: pointer;
   margin: auto;
   width: 32px;
   height: 32px;
   border-radius: 100%;
  }

  .calendar-number-month:hover{
    background-color: #a1ddea;
  }

  .calendar-indicator{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 0 .1rem;
  }

  .calendar-indicator-uno{
    background-color: #414fdc;
  }

  .calendar-indicator-dos{
    background-color: #ef233c;
  }

  .calendar-indicator-tres{
    background-color: #52a471;
  }

  .day-container{
    min-width: 140px;
    /*flex: 1 1 0;*/
  }


  .day-container-selectable:active{
    background-color: #ebf8fb;
  }

  .day-container-selectable{
    min-width: 140px;
    /*flex: 1 1 0;*/
    cursor: pointer;
  }

  .day-container-selectable:hover{
    background-color: #f3f3f3;
  }

  .break-calendar-content{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .notif-bar-item{
    background-color: transparent;
    border: 0px none;
    display: inline-block;
    line-height: 1;
    color: #686868;
    cursor: pointer;
    font-weight: 300;
    width: 100%;
    padding: 1rem;
    border-left: solid;
    border-width: .32rem;
    border-radius: .3rem;
    border-color: transparent;
  }

  .notif-bar-item div{
    align-items: center;
    display: flex;
  }

  .notif-bar-item div i{ 
    vertical-align: middle;
    font-size: 1.3rem;

  }

  .notif-bar-item div span{ 
    font-size: 15px;
    margin-left: 16px;
    line-break: anywhere;
  }

  .bar-notif-container{
    box-shadow: rgb(172 172 172 / 15%) 2.4px 2.4px 3.2px;
  }

  .notif-bar-item-selected{
    background-color:white !important ;
    border-color: var(--primary);
  }

  .notif-bar-item-selected div i{
    color: var(--primary);
  }

  .notif-normal{
    background-color: white;
    border-radius: .5rem;
    box-shadow:rgb(117 117 117 / 10%) -4px 9px 25px -6px;
  }
  
  .table-w-line-break{
   white-space: break-spaces !important;
   word-break: break-word !important;
  }

.folder-icon{
  margin: 0 0.5rem 0 1.5rem;
}

@media (max-width: 767px) { 

  .folder-icon{
    margin: 0 auto;
  }  
  .notif-bar-item div {
    display: inline-grid;
  }
  
 }

 .input-image-rectangle-container{
  cursor: pointer;
  width: 100%;
  height: 150px;
}

.input-image-rectangle{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectable-row{
  cursor: pointer;
}

.selectable-row:hover{
  background-color: rgb(243, 243, 243);
}

.stepper-number{
  user-select: none;
}

.sn-incomplete{
  background-color: #bcbcbc;
}

.stepper-line{
  margin: auto 0;
  height: 3px;
  width: 80px;
}

.sl-selected{
  background-color:var(--success);
}

.sl-not-selected{
  background-color:#e8e8e8;
}

.container-img-curso{
  
  position: relative;
  top: 0;
  left: 0;
}

.container-img-curso img{
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.container-img-curso button{
  position: absolute;
  top: 0;
  right: 0;
}

.img-card-pagos{
  width: 40px;
}

.modal-loading-content{
  box-shadow: none;
  background-color:transparent;
  text-align: center;
}