.select-style .css-yk16xz-control{
    border: solid 0;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    border-radius: 0.375rem;
    height: calc(1.5em + 1.25rem + 2px);
    transition: box-shadow .15s ease;
    font-size: 0.875rem;
    color: #8898aa;
}

.select-multiple-height .css-yk16xz-control{
    height: auto !important;
    min-height: calc(1.5em + 1.25rem + 2px) !important;
}

.assistance-input{
    background-color: #e9ecef;
    opacity: 1;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-clip: padding-box;
    border-radius: 0.375rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.not-selectble{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}