.select-style .css-yk16xz-control{
    border: solid 0;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    border-radius: 0.375rem;
    height: calc(1.5em + 1.25rem + 2px);
    transition: box-shadow .15s ease;
    font-size: 0.875rem;
    color: #8898aa;
}